<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                 <li>
                    <a href="/logout">Logout</a>
                </li>
                <li>
                    <a href="/register">register</a>
                </li>

                <li>
                    <a href="/secret">secret</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>